<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1F2937;">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../assets/Logo.webp" alt="Real Stereo" width="40" height="40" class="d-inline-block align-text-top me-2" style="border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
      <span class="fs-4" style="letter-spacing: 2px;">Real Stereo Sahagún</span>
    </a>

  </div>
</nav>


<router-outlet />

<div id="app">
  <footer class="bg-gray-900 text-gray-300 py-6">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0 md:space-x-8 px-4">

      <div class="flex flex-col md:flex-row items-center md:items-start space-y-4 md:space-y-0 md:space-x-4">
        <img src="../assets/Logo.webp" alt="Real Stereo Logo" class="h-12 w-auto" style="border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <p class="text-xl italic font-light">"Vive el sonido de la realidad"</p>
      </div>

      <div class="flex space-x-6">

        <a href="https://www.facebook.com/share/1SHViW7Ajd/" target="_blank" aria-label="Facebook" class="transition-transform transform hover:scale-110">
          <svg class="w-[30px] h-[30px] text-gray-400 hover:text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
          </svg>
        </a>

        <a href="https://www.instagram.com/realstereo2024/profilecard/?igsh=Z3pyeWlzZnhsajR6" target="_blank" aria-label="Instagram" class="transition-transform transform hover:scale-110">
          <svg class="w-[30px] h-[30px] text-gray-400 hover:text-pink-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
          </svg>
        </a>
      </div>

      <p class="text-sm text-gray-500 text-center md:text-right">&copy; Real Stereo. Inspirando cada nota.</p>
    </div>
  </footer>

</div>
